body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u540_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:383px;
  height:567px;
}
#u540 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:563px;
}
#u541 {
  position:absolute;
  left:2px;
  top:274px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:348px;
  height:200px;
}
#u542 {
  position:absolute;
  left:18px;
  top:72px;
  width:344px;
  height:196px;
}
#u543 {
  position:absolute;
  left:2px;
  top:90px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:328px;
  height:172px;
}
#u544 {
  position:absolute;
  left:26px;
  top:90px;
  width:324px;
  height:168px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u545 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u546_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:144px;
  height:44px;
}
#u546 {
  position:absolute;
  left:100px;
  top:301px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u547 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u548_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:383px;
  height:58px;
}
#u548 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:54px;
  color:#CC99CC;
}
#u549 {
  position:absolute;
  left:2px;
  top:19px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:26px;
}
#u550 {
  position:absolute;
  left:168px;
  top:10px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u551 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u552_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:342px;
  height:6px;
}
#u552 {
  position:absolute;
  left:28px;
  top:52px;
  width:337px;
  height:1px;
}
#u553 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:23px;
  height:35px;
}
#u554 {
  position:absolute;
  left:18px;
  top:10px;
  width:19px;
  height:31px;
  color:#828282;
}
#u555 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
