body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u310 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:90px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u312 {
  position:absolute;
  left:437px;
  top:52px;
  width:228px;
  height:90px;
  text-align:left;
}
#u313 {
  position:absolute;
  left:2px;
  top:37px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:71px;
}
#u314 {
  position:absolute;
  left:446px;
  top:61px;
  width:210px;
  height:71px;
  color:#000000;
  line-height:20px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u316 {
  position:absolute;
  left:437px;
  top:181px;
  width:875px;
  height:55px;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u318 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u319 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u320 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u321 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u322 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u323 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u324 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u325 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u326 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u327 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u328 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u329 {
  position:absolute;
  left:600px;
  top:0px;
  width:270px;
  height:30px;
}
#u330 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u331 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:20px;
}
#u332 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u333 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:20px;
}
#u334 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u335 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:20px;
}
#u336 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u337 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:20px;
}
#u338 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u339 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:20px;
}
#u340 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u341 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:20px;
}
#u342 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:20px;
}
#u343 {
  position:absolute;
  left:600px;
  top:30px;
  width:270px;
  height:20px;
}
#u344 {
  position:absolute;
  left:2px;
  top:2px;
  width:266px;
  word-wrap:break-word;
}
