body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u210 {
  position:absolute;
  left:856px;
  top:18px;
  width:379px;
  height:43px;
  color:#CC99CC;
}
#u211 {
  position:absolute;
  left:2px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:748px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:748px;
}
#u213 {
  position:absolute;
  left:2px;
  top:366px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:104px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u215 {
  position:absolute;
  left:500px;
  top:132px;
  width:300px;
  height:104px;
  text-align:left;
}
#u216 {
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:82px;
}
#u217 {
  position:absolute;
  left:512px;
  top:142px;
  width:276px;
  height:82px;
  color:#000000;
  line-height:20px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:495px;
}
#u219 {
  position:absolute;
  left:9px;
  top:63px;
  width:382px;
  height:495px;
}
#u220 {
  position:absolute;
  left:2px;
  top:240px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:391px;
  top:429px;
  width:0px;
  height:0px;
}
#u221_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u221_seg1 {
  position:absolute;
  left:36px;
  top:-300px;
  width:8px;
  height:304px;
}
#u221_seg2 {
  position:absolute;
  left:36px;
  top:-300px;
  width:73px;
  height:8px;
}
#u221_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u221_seg4 {
  position:absolute;
  left:95px;
  top:-306px;
  width:21px;
  height:20px;
}
#u222 {
  position:absolute;
  left:-10px;
  top:-170px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:33px;
}
#u223 {
  position:absolute;
  left:118px;
  top:9px;
  width:175px;
  height:33px;
}
#u224 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:293px;
  top:26px;
  width:0px;
  height:0px;
}
#u225_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u225_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u225_seg2 {
  position:absolute;
  left:193px;
  top:-10px;
  width:21px;
  height:20px;
}
#u226 {
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u228 {
  position:absolute;
  left:500px;
  top:24px;
  width:300px;
  height:81px;
  text-align:left;
}
#u229 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:64px;
}
#u230 {
  position:absolute;
  left:512px;
  top:32px;
  width:276px;
  height:64px;
  color:#000000;
  line-height:20px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u232 {
  position:absolute;
  left:165px;
  top:583px;
  width:87px;
  height:28px;
}
#u233 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:252px;
  top:597px;
  width:0px;
  height:0px;
}
#u234_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u234_seg1 {
  position:absolute;
  left:203px;
  top:-320px;
  width:8px;
  height:324px;
}
#u234_seg2 {
  position:absolute;
  left:203px;
  top:-320px;
  width:45px;
  height:8px;
}
#u234_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u234_seg4 {
  position:absolute;
  left:234px;
  top:-326px;
  width:21px;
  height:20px;
}
#u235 {
  position:absolute;
  left:157px;
  top:-83px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u237 {
  position:absolute;
  left:500px;
  top:280px;
  width:300px;
  height:81px;
  text-align:left;
}
#u238 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:64px;
}
#u239 {
  position:absolute;
  left:512px;
  top:288px;
  width:276px;
  height:64px;
  color:#000000;
  line-height:20px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:78px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u242 {
  position:absolute;
  left:37px;
  top:771px;
  width:300px;
  height:78px;
  text-align:left;
}
#u243 {
  position:absolute;
  left:2px;
  top:31px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:62px;
}
#u244 {
  position:absolute;
  left:49px;
  top:779px;
  width:276px;
  height:62px;
  color:#000000;
  line-height:20px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:110px;
}
#u247 {
  position:absolute;
  left:33px;
  top:860px;
  width:309px;
  height:110px;
}
#u248 {
  position:absolute;
  left:2px;
  top:47px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u249 {
  position:absolute;
  left:48px;
  top:871px;
  width:277px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u251 {
  position:absolute;
  left:266px;
  top:909px;
  width:51px;
  height:50px;
}
#u252 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AEAEAE;
  line-height:15px;
}
#u253 {
  position:absolute;
  left:48px;
  top:917px;
  width:208px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AEAEAE;
  line-height:15px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
