body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:565px;
}
#u383 {
  position:absolute;
  left:574px;
  top:0px;
  width:322px;
  height:565px;
}
#u384 {
  position:absolute;
  left:2px;
  top:274px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u386 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
