body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u714_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:383px;
  height:567px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:563px;
}
#u715 {
  position:absolute;
  left:2px;
  top:274px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:127px;
  height:125px;
}
#u716 {
  position:absolute;
  left:128px;
  top:62px;
  width:123px;
  height:121px;
}
#u717 {
  position:absolute;
  left:2px;
  top:52px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:77px;
  height:26px;
}
#u718 {
  position:absolute;
  left:153px;
  top:213px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u720_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:376px;
  height:100px;
}
#u720 {
  position:absolute;
  left:5px;
  top:392px;
  width:372px;
  height:96px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:135px;
  height:135px;
}
#u722 {
  position:absolute;
  left:120px;
  top:251px;
  width:131px;
  height:131px;
}
#u723 {
  position:absolute;
  left:2px;
  top:58px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:236px;
  height:60px;
}
#u724 {
  position:absolute;
  left:74px;
  top:488px;
  width:232px;
  height:56px;
  font-size:23px;
  color:#FFFFFF;
}
#u724_img.mouseDown {
}
#u724.mouseDown {
}
#u724_img.disabled {
}
#u724.disabled {
}
#u725 {
  position:absolute;
  left:2px;
  top:14px;
  width:228px;
  word-wrap:break-word;
}
