body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
}
#u329 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
