body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u656_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:383px;
  height:567px;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:563px;
}
#u657 {
  position:absolute;
  left:2px;
  top:274px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:383px;
  height:47px;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:43px;
  color:#CC99CC;
}
#u659 {
  position:absolute;
  left:2px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:158px;
  height:33px;
}
#u660 {
  position:absolute;
  left:122px;
  top:8px;
  width:154px;
  height:29px;
  font-family:'方正静蕾简体 Bold', '方正静蕾简体 Regular', '方正静蕾简体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u661 {
  position:absolute;
  left:2px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:24px;
}
#u662 {
  position:absolute;
  left:22px;
  top:12px;
  width:12px;
  height:20px;
  color:#828282;
}
#u663 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:380px;
  height:6px;
}
#u664 {
  position:absolute;
  left:0px;
  top:43px;
  width:375px;
  height:1px;
}
#u665 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:355px;
  height:21px;
}
#u666 {
  position:absolute;
  left:14px;
  top:54px;
  width:351px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:355px;
  height:21px;
}
#u668 {
  position:absolute;
  left:14px;
  top:73px;
  width:351px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:227px;
  height:215px;
}
#u670 {
  position:absolute;
  left:78px;
  top:123px;
  width:223px;
  height:211px;
}
#u671 {
  position:absolute;
  left:2px;
  top:98px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:236px;
  height:60px;
}
#u672 {
  position:absolute;
  left:69px;
  top:360px;
  width:232px;
  height:56px;
  font-size:23px;
  color:#FFFFFF;
}
#u672_img.mouseDown {
}
#u672.mouseDown {
}
#u672_img.disabled {
}
#u672.disabled {
}
#u673 {
  position:absolute;
  left:2px;
  top:14px;
  width:228px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:236px;
  height:60px;
}
#u674 {
  position:absolute;
  left:74px;
  top:437px;
  width:232px;
  height:56px;
  font-size:23px;
  color:#FFFFFF;
}
#u674_img.mouseDown {
}
#u674.mouseDown {
}
#u674_img.disabled {
}
#u674.disabled {
}
#u675 {
  position:absolute;
  left:2px;
  top:14px;
  width:228px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:383px;
  height:567px;
}
#u676 {
  position:absolute;
  left:449px;
  top:0px;
  width:379px;
  height:563px;
}
#u677 {
  position:absolute;
  left:2px;
  top:274px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:301px;
  height:285px;
}
#u678 {
  position:absolute;
  left:490px;
  top:98px;
  width:297px;
  height:281px;
}
#u679 {
  position:absolute;
  left:2px;
  top:132px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:191px;
  height:195px;
}
#u680 {
  position:absolute;
  left:539px;
  top:135px;
  width:187px;
  height:191px;
}
#u681 {
  position:absolute;
  left:2px;
  top:88px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:26px;
}
#u682 {
  position:absolute;
  left:477px;
  top:526px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u684_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:26px;
}
#u684 {
  position:absolute;
  left:775px;
  top:526px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
