body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:713px;
}
#u349 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:713px;
}
#u350 {
  position:absolute;
  left:2px;
  top:348px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
