body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1148px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u462_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:591px;
  height:740px;
}
#u462 {
  position:absolute;
  left:-87px;
  top:29px;
  width:587px;
  height:736px;
}
#u463 {
  position:absolute;
  left:2px;
  top:360px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:504px;
  height:58px;
}
#u464 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  color:#CC99CC;
}
#u465 {
  position:absolute;
  left:2px;
  top:19px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:421px;
  height:41px;
}
#u466 {
  position:absolute;
  left:53px;
  top:10px;
  width:417px;
  height:37px;
  font-family:'Impact Bold', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#828282;
}
#u467 {
  position:absolute;
  left:2px;
  top:4px;
  width:413px;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:482px;
  height:6px;
}
#u468 {
  position:absolute;
  left:18px;
  top:54px;
  width:477px;
  height:1px;
}
#u469 {
  position:absolute;
  left:2px;
  top:-8px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:12px;
  height:34px;
}
#u470 {
  position:absolute;
  left:480px;
  top:11px;
  width:8px;
  height:30px;
}
#u471 {
  position:absolute;
  left:2px;
  top:7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:145px;
  height:145px;
}
#u472 {
  position:absolute;
  left:180px;
  top:118px;
  width:141px;
  height:141px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#8F8F8F;
}
#u473 {
  position:absolute;
  left:2px;
  top:54px;
  width:137px;
  word-wrap:break-word;
}
#u474_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:63px;
  height:38px;
}
#u474 {
  position:absolute;
  left:221px;
  top:323px;
  width:59px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:29px;
  color:#666666;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u476_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:185px;
  height:46px;
}
#u476 {
  position:absolute;
  left:160px;
  top:380px;
  width:181px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u478_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:358px;
  height:170px;
}
#u478 {
  position:absolute;
  left:86px;
  top:443px;
  width:354px;
  height:166px;
  font-family:'方正静蕾简体 Bold', '方正静蕾简体 Regular', '方正静蕾简体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  line-height:28px;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:383px;
  height:47px;
}
#u480 {
  position:absolute;
  left:856px;
  top:18px;
  width:379px;
  height:43px;
  color:#CC99CC;
}
#u481 {
  position:absolute;
  left:2px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:23px;
  height:35px;
}
#u482 {
  position:absolute;
  left:18px;
  top:10px;
  width:19px;
  height:31px;
  color:#828282;
}
#u483 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:26px;
}
#u484 {
  position:absolute;
  left:193px;
  top:695px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u486_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:15px;
  height:22px;
}
#u486 {
  position:absolute;
  left:297px;
  top:695px;
  width:11px;
  height:18px;
}
#u487 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
