body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u258 {
  position:absolute;
  left:856px;
  top:18px;
  width:379px;
  height:43px;
  color:#CC99CC;
}
#u259 {
  position:absolute;
  left:2px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:746px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:746px;
}
#u261 {
  position:absolute;
  left:2px;
  top:365px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:485px;
}
#u262 {
  position:absolute;
  left:16px;
  top:57px;
  width:375px;
  height:485px;
}
#u263 {
  position:absolute;
  left:2px;
  top:234px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:364px;
  top:277px;
  width:0px;
  height:0px;
}
#u264_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u264_seg1 {
  position:absolute;
  left:71px;
  top:-251px;
  width:8px;
  height:255px;
}
#u264_seg2 {
  position:absolute;
  left:71px;
  top:-251px;
  width:65px;
  height:8px;
}
#u264_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u264_seg4 {
  position:absolute;
  left:122px;
  top:-257px;
  width:21px;
  height:20px;
}
#u265 {
  position:absolute;
  left:25px;
  top:-124px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:199px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u267 {
  position:absolute;
  left:500px;
  top:28px;
  width:300px;
  height:199px;
  text-align:left;
}
#u268 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:159px;
}
#u269 {
  position:absolute;
  left:512px;
  top:46px;
  width:276px;
  height:159px;
  color:#000000;
  line-height:20px;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:78px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u272 {
  position:absolute;
  left:37px;
  top:771px;
  width:300px;
  height:78px;
  text-align:left;
}
#u273 {
  position:absolute;
  left:2px;
  top:31px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:62px;
}
#u274 {
  position:absolute;
  left:49px;
  top:779px;
  width:276px;
  height:62px;
  color:#000000;
  line-height:20px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:110px;
}
#u277 {
  position:absolute;
  left:33px;
  top:860px;
  width:309px;
  height:110px;
}
#u278 {
  position:absolute;
  left:2px;
  top:47px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u279 {
  position:absolute;
  left:48px;
  top:871px;
  width:277px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u281 {
  position:absolute;
  left:266px;
  top:909px;
  width:51px;
  height:50px;
}
#u282 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AEAEAE;
  line-height:15px;
}
#u283 {
  position:absolute;
  left:48px;
  top:917px;
  width:208px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#AEAEAE;
  line-height:15px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:199px;
  height:7px;
}
#u285 {
  position:absolute;
  left:306px;
  top:947px;
  width:194px;
  height:2px;
}
#u286 {
  position:absolute;
  left:2px;
  top:-7px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:81px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u288 {
  position:absolute;
  left:500px;
  top:917px;
  width:161px;
  height:81px;
  text-align:left;
}
#u289 {
  position:absolute;
  left:2px;
  top:32px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:64px;
}
#u290 {
  position:absolute;
  left:506px;
  top:925px;
  width:148px;
  height:64px;
  color:#000000;
  line-height:20px;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
