body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u269 {
  position:absolute;
  left:26px;
  top:912px;
  width:300px;
  height:99px;
  text-align:left;
}
#u270 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:79px;
}
#u271 {
  position:absolute;
  left:38px;
  top:922px;
  width:276px;
  height:79px;
  color:#000000;
  line-height:20px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:25px;
  height:25px;
}
#u273 {
  position:absolute;
  left:374px;
  top:15px;
  width:20px;
  height:20px;
}
#u274 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:26px;
  height:26px;
}
#u275 {
  position:absolute;
  left:373px;
  top:15px;
  width:21px;
  height:21px;
}
#u276 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:856px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:856px;
}
#u278 {
  position:absolute;
  left:2px;
  top:420px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u279 {
  position:absolute;
  left:71px;
  top:95px;
  width:26px;
  height:26px;
}
#u280 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u281 {
  position:absolute;
  left:55px;
  top:367px;
  width:26px;
  height:26px;
}
#u282 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:26px;
  top:753px;
  width:349px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
