body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:706px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:855px;
}
#u292 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:855px;
}
#u293 {
  position:absolute;
  left:2px;
  top:420px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u295 {
  position:absolute;
  left:26px;
  top:912px;
  width:300px;
  height:99px;
  text-align:left;
}
#u296 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:79px;
}
#u297 {
  position:absolute;
  left:38px;
  top:922px;
  width:276px;
  height:79px;
  color:#000000;
  line-height:20px;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:25px;
  height:25px;
}
#u299 {
  position:absolute;
  left:374px;
  top:15px;
  width:20px;
  height:20px;
}
#u300 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:26px;
  height:26px;
}
#u301 {
  position:absolute;
  left:373px;
  top:15px;
  width:21px;
  height:21px;
}
#u302 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:26px;
  top:753px;
  width:349px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:81px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u305 {
  position:absolute;
  left:446px;
  top:46px;
  width:260px;
  height:81px;
  text-align:left;
}
#u306 {
  position:absolute;
  left:2px;
  top:32px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:64px;
}
#u307 {
  position:absolute;
  left:456px;
  top:54px;
  width:239px;
  height:64px;
  color:#000000;
  line-height:20px;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
