body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:618px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u415 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:64px;
  background:inherit;
  background-color:rgba(250, 214, 137, 1);
  border:none;
  border-radius:13px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.368627450980392);
  text-align:left;
}
#u417 {
  position:absolute;
  left:424px;
  top:544px;
  width:194px;
  height:64px;
  text-align:left;
}
#u418 {
  position:absolute;
  left:2px;
  top:24px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:51px;
}
#u419 {
  position:absolute;
  left:432px;
  top:550px;
  width:178px;
  height:51px;
  color:#000000;
  line-height:20px;
}
#u420 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#72C672;
  text-align:right;
}
#u421 {
  position:absolute;
  left:149px;
  top:431px;
  width:65px;
  height:18px;
  font-size:10px;
  color:#72C672;
  text-align:right;
}
#u422 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
}
#u423 {
  position:absolute;
  left:209px;
  top:435px;
  width:96px;
  height:14px;
}
#u424 {
  position:absolute;
  left:2px;
  top:-1px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u425 {
  position:absolute;
  left:248px;
  top:473px;
  width:26px;
  height:16px;
}
#u426 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
